<div id="alert" class="hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-md w-full bg-white rounded-lg shadow-lg overflow-hidden z-50 border-l-4">
    <div class="p-4">
        <div class="flex items-center">
            <div id="message-icon" class="flex-shrink-0">
                <!-- l'icône sera injectée ici -->
            </div>
            <div class="ml-3">
                <h3 id="message-title" class="text-lg font-medium">Titre</h3>
                <div id="message" class="mt-1 text-sm">
                    Texte du message
                </div>
            </div>
        </div>
    </div>
</div>
